<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>487067777985-ofebserolvph0eho6lam0ddn9bb0cjfj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487067777985-ofebserolvph0eho6lam0ddn9bb0cjfj</string>
	<key>API_KEY</key>
	<string>AIzaSyAihZbCZk3bgVe-u6glhVsqfqEh8tD6ljU</string>
	<key>GCM_SENDER_ID</key>
	<string>487067777985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>francis.StepByStep</string>
	<key>PROJECT_ID</key>
	<string>card-your-date</string>
	<key>STORAGE_BUCKET</key>
	<string>card-your-date.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:487067777985:ios:51511a7f1c278b73</string>
	<key>DATABASE_URL</key>
	<string>https://card-your-date.firebaseio.com</string>
</dict>
</plist>